<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg navbar-template">
    <a class="navbar-brand"><%= image_tag("Avatar.jpg", class: "img-thumbnail" ) %></a>
    <div class="d-flex flex-row order-2 order-lg-3">
        <ul class="navbar-nav flex-row">
            <li class="nav-item"><a class="nav-link px-2" href="#">Contacts</a></li>
            <li class="nav-item active"><a class="nav-link px-2" href="#">Script</a></li>
            <li class="nav-item"><a class="nav-link px-2" href="#">Files</a></li>
        </ul>
    </div>
</nav>
<div class="container">
	<div class="page-header text-center">
		<h1>Name of Project</h1>
	</div>
</div>
