
<link rel="stylesheet" href="../../assets/stylesheets/login.scss">

<div class = "container">
<!-- <img src="app/assets/images/logo.jpg" class="img-fluid" alt="Responsive image"> -->
<h1>Welcome to StageRight!</h1>
<div class="row justify-content-center">
    <div class="col-3">
      <%= image_tag("logo.png", class: "img-thumbnail" ) %>
    </div>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-primary" id="submit">Login</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sign up</button>
      </div>

</div>