// Place all the styles related to the Plays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input{
	-webkit-appearance: none;
	appearance: none;
}

.underliner{
	border-bottom: 1px solid;
	text-color: blue;
}